.highlight {
    outline: 2px solid red !important;
    cursor: pointer !important;
}

body {
    padding: 10px;
    font-family: Arial;
}

button {
    margin-top: 5px;
    width: 100%;
    padding: 8px;
}
